body {
  display: flex;
  justify-content: center;
  font-family: Open Sans;
}

.display {
  background-color: #455A64;
  width: 50%;
  height: 720px;
  text-align: center;

}

.inputs {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  height: 20px;
  font-weight: 400;
  font-size: 15px;
}

.logo {
  max-width: 40px;
}

.enter {
 background-color: #FFC107;
 margin-top: 20px;
 width: 80%;
 border: 0px;
 height: 20px;
 color: #FFFFFF;
 font-weight: 800;


}

.enter:hover {
  background-color: #FFD773;
}

.bookmarks {
  background-color: #CFD8DC;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookmark-temp {
  border: 2px solid #607D8B;
  height: 140px;
  width: 90%;
  margin: auto;
  background-color: #FFFFFF;
}

.bookmark-button {
  display: inline-block;
  width: 50px;
  position: relative;
  float: left;
  background-color: transparent;
  border: 0px 0px 1px 0px;
  padding: 5px;

}

.delete {
  float: right;
  position: ;
  bottom: 0px;
  margin-right: 5px;
}

.read {
  float: left;
  bottom: 0px;
  margin-left: 5px;
}

.title {
  color: white;
  display: inline-block;

}

.website-url {
  color: #607D8B;
}

.read {
  color: #455A64;
}

.read .delete .website-url:hover {
  color: #455A64;
}

.delete {
  color: #455A64;
}

h1 {
  color: #FFFFFF;
  margin-top: 220px;
  font-weight: 800;
  font-size: 35px;
}

h2 {
  font-weight: 800;
  color: #455A64;
  margin: 5px;
  border-bottom: 1px solid #CFD8DC;
  padding: 10px 5px;
  font-size: 25px;
}

h3 {
  font-weight: 400;
  color: #687D8D;
  border-bottom: 1px solid #CFD8DC;
  padding: 15px 5px;
  margin: 5px;
  font-size: 20px;
}
