body {
  display: flex;
  justify-content: center;
  font-family: Open Sans;
}

.display {
  background-color: #455A64;
  width: 50%;
  height: 720px;
  text-align: center;
}

.inputs {
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  height: 20px;
  font-weight: 400;
  font-size: 15px;
}

.logo {
  max-width: 40px;
}
.enter {
 background-color: #FFC107;
 margin-top: 20px;
 width: 80%;
 border: 0px;
 height: 20px;
 color: #FFFFFF;
 font-weight: 800;


}
.enter:hover {
  background-color: #FFD773;
}

.bookmarks {
  background-color: #CFD8DC;
  border: #607D8B;
  width: 50%;
}

.bookmark-temp {

}


.title {
  /*color: #455A64;*/
  color: white;
  display: inline-block;

}

.website-url {
  color: #607D8B;
}

.read {
  color: #455A64
}

.read .delete .website-url:hover {
  color: #455A64
}

.delete {
  color: #455A64
}


h1 {
  color: #FFFFFF;
  margin-top: 220px;
  font-weight: 800;
  font-size: 35px;
}

h2 {

}

h3 {

}

h4 {

}
