a {
  border-bottom: 1px solid #CFD8DC;
  color: #687D8D;
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
  padding: 20px 5px;
}

body {
  display: flex;
  font-family: Open Sans;
  justify-content: center;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 80px;
  display: inline;
  margin-top: 200px;
  margin-bottom: 20px;
  width: 90%;
}

h2 {
  border-bottom: 1px solid #CFD8DC;
  color: #455A64;
  display: block;
  font-size: 25px;
  font-weight: 800;
  margin: 5px;
  padding: 10px 5px;
}

a:hover {
  /*text-decoration: none;*/
}

.bookmarks {
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
  height: 730px;
  justify-content: space-between;
  overflow: scroll;
  width: 50%;
}

.bookmark-temp {
  background-color: #FFFFFF;
  border: 2px solid #607D8B;
  height: 160px;
  margin: auto;
  padding: 0px 10px 10px 10px;
  width: 90%;
}

.bookmark-button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #F2F4F4;
  display: inline-block;
  float: left;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  padding: 2px;
  margin-top: 10px;
  width: 50px;
}

.bookmark-button:hover {
  border-bottom: 1px solid #FFC107;
}

.bm-Counter {
  background-color: white;
  display: inline-block;
  float: left;
  height: 40px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 40px;
}

.bm-read-Counter {
  background-color: white;
  display: inline-block;
  float: left;
  height: 40px;
  left: 180px;
  position: absolute;
  width: 40px;
  top: 20px;
}

.bm-unread {
  background-color: white;
  display: inline-block;
  float: left;
  height: 40px;
  left: 100px;
  position: absolute;
  width: 40px;
  top: 20px;
}

.deletebkm {
  bottom: 0px;
  color: #455A64;
  float: right;
  margin-right: 5px;
  width: 60px;
}

.display {
  background-color: #455A64;
  height: 730px;
  width: 50%;
  text-align: center;
}

.enter {
  background-color: #FFC107;
  border: 0px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 18px;
  height: 40px;
  margin-top: 50px;
  width: 91%;
}

.enter:hover {
  background-color: #FFD773;
}

.enter:hover {
  background-color: #FFD773;
}

.inputs {
  display: block;
  font-size: 30px;
  font-weight: 400;
  height: 35px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.logo {
  margin: 0px 10px;
  max-width: 115px;
  display: inline-block;
}

.read {
background-color: #F2F4F4;
}

.read .readbkm {
  color: #F05A28;
  background-color: transparent;
  font-weight: 800;
}

.readbkm  {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
  margin-left: 5px;
}

.title {
  color: white;
  display: inline-block;
}

.titleText {
  display: inline-block;
  width: 90%;
  margin: 200px auto 0px auto;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1036px) {
  h1 {
    font-size: 58px;
  }
}

@media screen and (max-width: 550px) {
  body {
    display: block;
  }

  h1 {
    margin-bottom: 0;
    font-size: 40px;
  }

  .bookmarks {
    width: 100%;
  }

  .display {
    width: 100%;
  }

  .inputs {
    font-size: 20px;
  }

  .list {
    margin-top: 5px;
  }

  .logo {
    max-width: 50px;
  }
}
